<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onlinestore.dao.ItemDAO">

    <resultMap id="items" type="com.onlinestore.model.Item">
        <result property="code" column="code"/>
        <association property="price" javaType="com.onlinestore.util.Money">
            <constructor>
                <arg javaType="float" column="price"/>
            </constructor>
        </association>
    </resultMap>

    <resultMap id="itemDetail" type="com.onlinestore.model.ItemDetail">
        <result property="code" column="code"/>
        <result property="description" column="description"/>
        <association property="price" javaType="com.onlinestore.util.Money">
            <constructor>
                <arg javaType="float" column="price"/>
            </constructor>
        </association>
    </resultMap>

    <select id="getItems" parameterType="String" resultMap="items">
        select code, price from items where description like #{criteria}
    </select>


    <select id="getItem" parameterType="String" resultMap="itemDetail">
        select code, description, price from items where code = #{code}
    </select>

</mapper>