<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans.xsd
        http://mybatis.org/schema/mybatis-spring        http://mybatis.org/schema/mybatis-spring.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
        http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.onlinestore">
        <context:exclude-filter type="regex" expression="com\.onlinestore\.web\.controller"/>
    </context:component-scan>

    <jdbc:embedded-database id="dataSource" type="HSQL">
        <jdbc:script location="classpath:hsql/CreateDatabase.sql"/>
        <jdbc:script location="classpath:hsql/InsertData.sql"/>
    </jdbc:embedded-database>

    <mybatis:scan base-package="com.onlinestore.dao"/>

    <!-- Mybatis conf -->
    <bean id="sqlSessionFactory" class="com.onlinestore.dao.impl.mybatis.SqlSessionFactoryBean">
        <property name="configLocation" value="mybatis/mybatis-config.xml"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>